{% extends "_base.html" %} {% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Add profile</h3>
      </div>
      <div class="card-body">
        <form role="form" method="post" class="form" action="/addProfile">
          <div class="form-group">
            <label>Email</label>
            <select class="form-control" id="email" name="email">
              {% for email in emails %}
              <option value="{{ email[0] }}">{{ email[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label>Full name</label>
            <input
              type="text"
              id="fullname"
              name="fullname"
              class="form-control"
              pattern="[A-Za-z ]+"
              title="Name must only contain alphabetic characters."
              required
            />
          </div>

          <div class="form-group">
            <label>Nation ID card</label>
            <input
              type="text"
              id="nationalId"
              name="nationalId"
              class="form-control"
              pattern="\d{12}"
              maxlength="12"
              title="National ID must contain exactly 12 digits."
              required
            />
          </div>

          <div class="form-group">
            <label>Tax number</label>
            <input
              type="text"
              id="taxnumber"
              name="taxnumber"
              class="form-control"
              pattern="\d{10}"
              title="Tax number must only contain 10 digits."
              required
            />
          </div>

          <div class="form-group">
            <label>Phone number</label>
            <input
              type="text"
              id="phonenumber"
              name="phonenumber"
              class="form-control"
              pattern="\d{10}"
              title="Phone number must only contain 10 digits"
              required
            />
          </div>

          <div class="form-group">
            <label>Address</label>
            <input
              type="text"
              id="address"
              name="address"
              class="form-control"
              pattern="[A-Za-z0-9, ]*"
              title="Address must only contain alphabetic characters and numbers"
              required
            />
          </div>

          <div class="form-group">
            <label>Bank code</label>
            <input
              type="text"
              id="bankcode"
              name="bankcode"
              class="form-control"
              pattern="\d{5,20}"
              minlength="5"
              maxlength="20"
              title="Bank code must contain 5 to 20 digits."
              required
            />
          </div>

          <div class="form-group">
            <label>Bank name</label>
            <input
              type="text"
              id="bankname"
              name="bankname"
              class="form-control"
              pattern="[A-Za-z]+"
              title="Bank name must only contain alphabetic characters."
              required
            />
          </div>

          <div class="form-group">
            <button
              type="submit"
              class="btn btn-success float-right mr-3"
              name="saveProfileBtn"
            >
              Add profile
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
