{% extends "_base.html" %} {% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Update Profile</h3>
      </div>
      <div class="card-body">
        {%if is_authenticated==1 and roleuser == "manager" %}
        <form
          role="form"
          method="post"
          action="/saveProfileManager"
          class="form"
        >
          <div class="form-group">
            <label>Profile id</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="profileId"
              name="profileId"
              class="form-control"
              value="{{profile[0]}}"
              readonly
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Full name</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="fullname"
              name="fullname"
              class="form-control"
              value="{{profile[1]}}"
              pattern="[A-Za-z ]+"
              title="Name must only contain alphabetic characters."
              required
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Nation ID card</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="nationalId"
              name="nationalId"
              class="form-control"
              value="{{profile[2]}}"
              pattern="\d{12}"
              maxlength="12"
              
              title="National ID must contain exactly 12 digits."
              required
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Tax number</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="taxnumber"
              name="taxnumber"
              class="form-control"
              value="{{profile[3]}}"
              pattern="\d{10}"
              title="Tax number must only contain 10 digits."
              required
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Phone number</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="phonenumber"
              name="phonenumber"
              class="form-control"
              value="{{profile[4]}}"
              pattern="\d{10}"
              title="Phone number must only contain 10 digits"
              required
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Address</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="address"
              name="address"
              class="form-control"
              value="{{profile[5]}}"
              pattern="[A-Za-z0-9, ]*"
              title="Address must only contain alphabetic characters and numbers"
              required
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Bank code</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="bankcode"
              name="bankcode"
              class="form-control"
              value="{{profile[6]}}"
              pattern="\d{5,20}"
              minlength="5"
              maxlength="20"
              title="Bank code must contain 5 to 20 digits."
              required
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Bank name</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="bankname"
              name="bankname"
              class="form-control"
              value="{{profile[7]}}"
              pattern="[A-Za-z]+"
              title="Bank name must only contain alphabetic characters."
              required
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Role</label>
            <select class="form-control" id="role" name="role">
              {% for profile in profiles %}
              <option value="{{ profile[8] }}">{{ profile[9] }}</option>
              {% endfor %} {% for roleuser in roleusers %}
              <option value="{{ roleuser[0] }}">{{ roleuser[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <br />
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-success float-right mr-3"
              name="saveProfileBtn"
            >
              Save
            </button>
          </div>
        </form>
        {% elif is_authenticated==1 and roleuser == "employee" and fullname %}
        <form
          role="form"
          method="post"
          action="/saveProfileEmployee"
          class="form"
        >
          <div class="form-group">
            <label>Profile id</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="profileId"
              name="profileId"
              class="form-control"
              value="{{profile[0]}}"
              readonly
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Full name</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="fullname"
              name="fullname"
              class="form-control"
              value="{{profile[1]}}"
              pattern="[A-Za-z ]+"
              title="Name must only contain alphabetic characters."
              required
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Nation ID card</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="nationalId"
              name="nationalId"
              class="form-control"
              value="{{profile[2]}}"
              pattern="\d{12}"
              maxlength="12"
              title="National ID must contain exactly 12 digits."
              required
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Tax number</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="taxnumber"
              name="taxnumber"
              class="form-control"
              value="{{profile[3]}}"
              pattern="\d{10}"
              title="Tax number must only contain 10 digits."
              required
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Phone number</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="phonenumber"
              name="phonenumber"
              class="form-control"
              value="{{profile[4]}}"
              pattern="\d{10}"
              title="Phone number must only contain 10 digits"
              required
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Address</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="address"
              name="address"
              class="form-control"
              value="{{profile[5]}}"
              pattern="[A-Za-z0-9, ]*"
              title="Address must only contain alphabetic characters and numbers"
              required
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Bank code</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="bankcode"
              name="bankcode"
              class="form-control"
              value="{{profile[6]}}"
              pattern="\d{5,20}"
              minlength="5"
              maxlength="20"
              title="Bank code must contain 5 to 20 digits."
              required
            />
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Bank name</label>
            {% for profile in profiles %}
            <input
              type="text"
              id="bankname"
              name="bankname"
              class="form-control"
              value="{{profile[7]}}"
              pattern="[A-Za-z]+"
              title="Bank name must only contain alphabetic characters."
              required
            />
            {% endfor %}
          </div>
          <br />
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-success float-right mr-3"
              name="saveProfileBtn"
            >
              Save
            </button>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
